<p>singup works!</p>

<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation in HTML & CSS | CodingNepal</title>
</head>
<body>
  <div class="wrapper">
    <header>Login Form</header>
    <form action="#">
      <div class="form-group">
      <div class="field email">

        <div class="input-area">
          <input type="username" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="username"  placeholder="Enter UserName">
    
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Email can't be blank</div>
      </div></div>
      <div class="input-area">
        <input type="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="username"  placeholder="Enter UserName">
  
        <i class="icon fas fa-envelope"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>
      <div class="error error-txt">Email can't be blank</div>
    
      <div class="field password">
        <div class="form-group">
        <div class="input-area">
          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" class="form-control" placeholder="Enter Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <div class="pass-txt"><a href="#">Forgot password?</a></div>
      <button type="submit" class="btn btn-primary" (click)="Login()">Login</button>
      </div> 
    <div class="sign-txt">Not yet member? <a href="singup.html">Signup now</a></div>
  
    </form></div>
</body></html>